DMS_TASK_ARN=
AWS_REGION=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

# Primary Database
PRIMARY_DB_HOST=
PRIMARY_DB_USER=
PRIMARY_DB_PASSWORD=
PRIMARY_DB_NAME=
PRIMARY_DB_PORT=
# Archive Database
ARCHIVE_DB_HOST=
ARCHIVE_DB_USER=
ARCHIVE_DB_PASSWORD=
ARCHIVE_DB_NAME=
ARCHIVE_DB_PORT=
